@use '@angular/material' as mat;

.day {
  width:112px;
  font-size: 1rem;
  background-color: darkred;
  color: white;
  font-weight: bold;
  border: solid 1px white;
}

.code {
  width: 200px;
  font-size: 1rem;
  background-color: darkred;
  color: white;
  font-weight: bold;
  border: solid 1px white;
}

.hours {
  width: 50px;
  font-size: 1rem;
  background-color: darkred;
  color: white;
  font-weight: bold;
  border: solid 1px white;
}

.tagday {
  width: 100px;
  font-size: 1rem;
  background-color: darkred;
  color: white;
  font-weight: bold;
  border: solid 1px white;
}

.delete-button {
  @include mat.button-overrides((
    filled-container-color: red,
    filled-label-text-color: white,
  ));
}

.clear-button {
  @include mat.button-overrides((
    filled-container-color: white,
    filled-label-text-color: darkmagenta,
  ));
}

.add-button {
  @include mat.button-overrides((
    filled-container-color: darkblue,
    filled-label-text-color: white,
  ));
}