// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */

:root {
  @include mat.toolbar-overrides((
    container-background-color: darkmagenta,
    container-text-color: white,
  ));
  @include mat.icon-overrides((
    color: pink,
  ));
  @include mat.sidenav-overrides((
    container-background-color: darkmagenta,
    container-text-color: white,
  ));
  @include mat.card-overrides((
    elevated-container-color: darkmagenta,
    elevated-container-elevation: magenta
  ))
}

.mat-card-title {
  color: white !important;
}

.margin-top { margin-top: 16px; }
.horizontal-padding { margin-left: 16px; margin-right: 16px; }
.flex-spacer { flex: 1 1 auto; }

.fxLayout {
    margin-top: 32px;
}

.flexlayout {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.topcenter {
    justify-content: center;
    align-items: flex-start;
}

.centertop {
    justify-content: flex-start;
    align-items: center;
}

.topleft {
    justify-content: flex-start;
    align-items: flex-start;
}

.topright {
    justify-content: flex-end;
    align-items: flex-start;
}

.flexgap {
    gap: 5px;
}

.flexwrap {
    flex-wrap: wrap;
}

.noflexgap {
    gap: 0px;
}

.noflexwrap {
    flex-wrap: no-wrap;
}