// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

/* This section contains the material overrides */
:root {
  @include mat.toolbar-overrides((
    container-background-color: darkmagenta,
    container-text-color: white,
    standard-height: 40px,
  ));
  @include mat.icon-overrides((
    color: salmon,
  ));
  @include mat.sidenav-overrides((
    container-background-color: darkmagenta,
    container-text-color: white,
    container-width: 250px,
  ));
  @include mat.card-overrides((
    elevated-container-color: darkmagenta,
    elevated-container-elevation: magenta,
  ));
  @include mat.expansion-overrides((
    container-background-color: darkmagenta,
    container-text-color: white,
    header-text-color: white,
  ));
  @include mat.list-overrides((
    list-item-focus-label-text-color: yellow,
    list-item-hover-label-text-color: pink,
    list-item-label-text-color: white,
  ));
  @include mat.select-overrides((
    panel-background-color: darkred,
  ));
  @include mat.dialog-overrides((
    container-color: darkred,
    subhead-color: white,
    supporting-text-color: white,
  ));
  @include mat.checkbox-overrides((
    label-text-color: white,
    selected-checkmark-color: blue,
    selected-icon-color: white,
    selected-focus-icon-color: white,
    unselected-icon-color: white,
    unselected-focus-icon-color: white,
  ));
}

.add-button {
  @include mat.button-overrides((
    filled-container-color: darkblue,
    filled-label-text-color: white,
  ));
}

.delete-button {
  @include mat.button-overrides((
    filled-container-color: darkred,
    filled-label-text-color: white,
  ));
}

.clear-button {
  @include mat.button-overrides((
    filled-container-color: white,
    filled-label-text-color: black,
  ));
}

/* You can add global styles to this file, and also import other style files */
.margin-top { margin-top: 16px; }
.horizontal-padding { margin-left: 16px; margin-right: 16px; }
.flex-spacer { flex: 1 1 auto; }

.fxLayout {
    margin-top: 32px;
}

.flexlayout {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.topcenter {
    justify-content: center;
    align-items: flex-start;
}

.centertop {
    justify-content: flex-start;
    align-items: center;
}

.topleft {
    justify-content: flex-start;
    align-items: flex-start;
}

.topright {
    justify-content: flex-end;
    align-items: flex-start;
}

.flexgap {
    gap: 5px;
}

.flexwrap {
    flex-wrap: wrap;
}

.noflexgap {
    gap: 0px;
}

.noflexwrap {
    flex-wrap: no-wrap;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;;
  justify-content: center;;
  align-items: center;
}