.label {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 458px;
  height: 30px;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 30px;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.referenceDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.dates {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 249px;
  height: 30px;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  font-size: 1.2rem;
  color: white;
}

.actual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 30px;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.daysleft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 30px;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.hoursleft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 30px;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  font-size: 1rem;
  color: white;
}

.hourstaken {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 30px;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.daysleftData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 30px;
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  color: black;
}

.hoursleftData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 30px;
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  background-color: white;
  font-size: 1rem;
  color: black;
}

.hourstakenData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 30px;
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  color: black;
}