scheduler-node-models/node_modules
scheduler-node-models/dist
testing-app/node_modules
.env
/testing-app/dist
/testing-app/node_modules
/authentication-api/node_modules
/authentication-api/dist
/authentication-api/.env
general-api/node_modules
general-api/dist
general-api/.env
scheduler-api/node_modules
scheduler-api/dist
scheduler-api/.env
/node_modules
/testing-app/node_modules
