<form [formGroup]="workdayForm" class="flexlayout row center">
  <div class="flexlayout column center weekday">{{getDayDate()}}</div>
  <div class="flexlayout column center weekday">
    @if (workday.date) {  
      {{workday.date.getUTCDate()}}
    }
    @else {
      {{workday.id}}
    }
  </div>
  <div class="flexlayout column center code">
    <select matNativeControl formControlName="code" class="input"
      [style]="getDayStyle()" (change)="onChange('code')">
      <option value=""></option>
      @for (wc of workcodes(); track wc.id) {
        <option [value]="wc.id">{{wc.title}}</option>
      }
    </select>
  </div>
  <div class="flexlayout column center code">
    <select matNativeControl formControlName="workcenter" class="input"
      [style]="getDayStyle()" (change)="onChange('workcenter')">
      <option value=""></option>
      @for (wc of workcenters(); track wc.id) {
        <option [value]="wc.id">{{wc.name}}</option>
      }
    </select>
  </div>
  <div class="flexlayout column center hours">
    <select matNativeControl formControlName="hours" class="input"
      [style]="getDayStyle()" (change)="onChange('hours')">
      <option value=""></option>
      @for (wc of hours(); track wc) {
        <option [value]="wc">{{wc}}</option>
      }
    </select>
  </div>
  <div class="flexlayout column left copy">
    @if (showCopy()) {
      <mat-icon class="icon" (click)="onChange('copy')"
        matTooltip="Copy last workday">add_circle</mat-icon>
    }
    @else {
      <mat-icon class="icon" (click)="onChange('clear')"
        matTooltip="Clear this workday">cancel</mat-icon>
    }
  </div>
</form>
