<form [formGroup]="dayForm" class="flexlayout row center">
  <div class="flexlayout column center day">{{getDayDate()}}</div>
  <div class="flexlayout column center code">
    <select matNativeControl formControlName="code" class="input"
      [style]="getDayStyle()" (change)="onChange()">
      <option value=""></option>
      @for (wc of workcodes; track wc.id) {
        <option [value]="wc.id">{{wc.title}}</option>
      }
    </select>
  </div>
  <div class="flexlayout column center hours">
    <select matNativeControl formControlName="hours" class="input"
      [style]="getDayStyle()" (change)="onChange()">
      <option value="0"></option>
      @for (hour of hoursList; track hour) {
        <option [value]="hour">{{hour}}</option>
      }
    </select>
  </div>
  <div class="flexlayout column center tagday">
    <select matNativeControl formControlName="workcenter" class="input"
      [style]="getDayStyle()" (change)="onChange()">
      <option value=""></option>
      @for (hol of workcenters; track hol.name) {
        <option [value]="hol.id">{{hol.name}}</option>
      }
    </select>
  </div>
</form>