.ctype {
  width: 250px;
  height: 25px;
  background-color: darkred;
  color: white;
  font-size: 1.0rem;
  font-weight: bold;
  border: solid 1px white;
}

.contact {
  width: 250px;
  height: 25px;
  background-color: white;
  color: black;
  font-size: 1.0rem;
  font-weight: bold;
  border: solid 1px black;
}