<div class="page">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="color: white;">Team Query (Who's Working)</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flexlayout column center" style="margin: 20px;">
      <div class="flexlayout column center">
        <div class="flexlayout row center" style="width: 100%;">
          <!-- Query Form Area -->
        </div>
        <div class="flexlayout row topcenter flexgap" style="width: 100%;">
          <div class="flexlayout column center">
            <app-list [list]="employeeList()" [height]="600" [width]="250"
              (itemSelected)="onSelect($event)"></app-list>
          </div>
          <div class="flexlayout column topcenter">
            @if (selectedEmployee().id !== '') {
              <div class="flexlayout row center employee">
                {{selectedEmployee().name.getLastFirst()}}
              </div>
              <div class="flexlayout column center" style="margin-bottom: 10px;">
                <div class="flexlayout column center label">Contact Information</div>
                @for (ctype of contactTypeList(); track ctype.id) {
                  <app-team-query-contact [contactType]="ctype"
                    [contacts]="selectedEmployee().contactinfo"></app-team-query-contact>
                }
              </div>
              <div class="flexlayout column center" style="width: 100%;">
                <div class="flexlayout column center label">Specialties</div>
                @for (specialty of selectedEmployee().specialties; track specialty.id) {
                  <div class="flexlayout row center specialty">
                    {{getSpecialtyName(specialty.specialtyid)}}
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>