@use '@angular/material' as mat;

.error {
  color: white;
}

.clear-button {
  @include mat.button-overrides((
    filled-container-color: white,
    filled-label-text-color: black,
  ));
}

.add-button {
  @include mat.button-overrides((
    filled-container-color: darkblue,
    filled-label-text-color: white,
  ));
}

.label {
  width: 100%;
  background-color: darkred;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.toolbar {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: solid 1px white;
  @include mat.toolbar-overrides((
    container-background-color: darkred,
    container-text-color: white,
  ));
}