<div class="page">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="color: White;">Must Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="flexlayout column center" [formGroup]="loginForm">
        <div class="flexlayout row center">
          <mat-form-field style="width: 300px;margin-left: 10px;">
            <mat-label>Previous Password</mat-label>
            <input matInput placeholder="Password"
              type="password" formControlName="oldpwd">
            @if (this.loginForm.controls['oldpwd'].hasError('required')) {
              <mat-error style="color: white;">Required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="flexlayout row center">
          <mat-form-field style="width: 300px;margin-left: 10px;">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="Password"
              type="password" formControlName="password">
            @if (this.loginForm.get('password')?.invalid) {
              <mat-error style="color: white;">
              {{getPasswordError()}}
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="flexlayout row center">
          <mat-form-field style="width: 300px;margin-left: 10px;">
            <mat-label>Confirm New Password</mat-label>
            <input matInput placeholder="Password"
              type="password" formControlName="password2">
            @if (this.loginForm.get('password2')?.invalid) {
              <mat-error style="color: white;">
              {{getVerifyError()}}
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="flexlayout row center">
          <button mat-raised-button type="submit" color="accent"
            [disabled]="loginForm.invalid" (click)="change()"
          >Change Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>