.day {
  width: 75px;
  font-size: 1rem;
  background-color: darkred;
  color: white;
  font-weight: bold;
  border: solid 1px white;
}

.input {
  width: 100%;
  font-size: 1rem;
}

.code {
  width: 200px;
  border: solid 1px black;
}

.hours {
  width: 50px;
  font-size: 1rem;
  border: solid 1px black;
}

.tagday {
  width: 100px;
  font-size: 1rem;
  border: solid 1px black;
}

.icon {
  font-size: 1rem;
  cursor: pointer;
}