<div class="flexlayout column topleft">
  <div class="flexlayout row topleft border">
    <div class="flexlayout row center direction"
    (click)="changeMonth('down', 'year')">&lt;&lt;</div>
    <div class="flexlayout row center direction"
    (click)="changeMonth('down', 'month')">&lt;</div>
    <div class="overall flexlayout row center">
      <div class="flex-spacer">&nbsp;</div>
      <div class="flexlayout row center month">
        <form [formGroup]="monthForm" class="flexlayout row center flexgap">
          <select class="monthSelect" (change)="selectMonth()"
            formControlName="month">
            @for (m of months; track m; let i = $index) {
              <option [value]="i"
                class="monthSelectOption">
                {{m}}
              </option>
            }
          </select>
          <input type="number" (change)="selectMonth()" formControlName="year"
            class="yearSelect">
        </form>
      </div>
      <div class="flex-spacer"></div>
      <div class="flexlayout column center print" (click)="onPrintSubmit()"
        matTooltip="Create Printable Schedule">
        <mat-icon>print</mat-icon>
      </div>
    </div>
    <div class="flexlayout row center direction"
    (click)="changeMonth('up', 'month')">&gt;</div>
    <div class="flexlayout row center direction"
    (click)="changeMonth('up', 'year')">&gt;&gt;</div>
  </div>
  <div class="flexlayout row center" style="width: 100%;">
    <mat-accordion displayMode="flat" multi style="width: 100%;">
      @for (wkctr of workcenters(); track wkctr.id) {
        <app-site-schedule-month-workcenter [workcenter]="wkctr" 
          [month]="month()" [workcodes]="workcodes()">
        </app-site-schedule-month-workcenter>
      }
    </mat-accordion>
  </div>
</div>