<div class="flexlayout column topleft" [style]="editorStyle()">
  <div class="flexlayout row topleft flexgap" style="width: 100%;">
    <mat-form-field [floatLabel]="'always'" style="width: 250px;">
      <mat-label>Site's Name</mat-label>
      <input matInput [formField]="siteEditForm.name">
      @if (siteEditForm.name().invalid()) {
        <mat-error>required</mat-error>
      }
    </mat-form-field>
    <mat-form-field [floatLabel]="'always'" style="width: 250px;">
      <mat-label>Site's UTC Offset</mat-label>
      <input matInput type="number" [formField]="siteEditForm.offset">
      @if (siteEditForm.offset().invalid()) {
        <mat-error>required</mat-error>
      }
    </mat-form-field>
  </div>
  <mat-toolbar class="toolbar">
    <button matButton routerLink="/site/edit/edit/workcenter">Workcenters</button>
    <button matButton routerLink="/site/edit/edit/forecasts">Forecast Reports</button>
    <button matButton routerLink="/site/edit/edit/cofs">Certificate of Service Reports</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>