<div class="flexlayout column topleft">
  <div class="flexlayout row topleft" style="width: 100%;">
    <div class="flexlayout column center direction" (click)="onChange('year', 'down')"
      matTooltip="move one year back">
      &lt;&lt;</div>
    <div class="flexlayout column center direction" (click)="onChange('month', 'down')"
      matTooltip="move one month back">
      &lt;</div>
    <div class="flexlayout row center month">
      <div class="flexlayout row center icon">&nbsp;</div>
      <div class="flex-spacer"></div>
      {{getMonth()}}
      <div class="flex-spacer"></div>
      <div class="flexlayout row center icon">
        <mat-icon (click)="picker.open()">calendar_today</mat-icon>
        <input [matDatepicker]="picker" style="display: none;" 
          [formField]="monthForm.month">
        <mat-datepicker #picker startView="multi-year"
          (monthSelected)="setMonthAndYear($event, picker)"></mat-datepicker>
      </div>
    </div>
    <div class="flexlayout column center direction" (click)="onChange('month', 'up')"
      matTooltip="move one month forward">
      &gt;</div>
    <div class="flexlayout column center direction" (click)="onChange('year', 'up')"
      matTooltip="move one year forward">
      &gt;&gt;</div>
  </div>
  <div class="flexlayout row topleft" style="width: 100%;">
    <div class="flexlayout column center name">Name</div>
    @for (date of dates(); track date.getTime()) {
      <div class="flexlayout column center cell" [style]="getStyle(date)">
        {{date.getDate()}}
      </div>
    }
    <div class="flexlayout column center totals">Totals</div>
  </div>
  @for (emp of siteService.ingestEmployees(); track emp.id) {
    <app-site-ingest-chart-employee [employee]="emp" [workcodes]="workcodes()">
    </app-site-ingest-chart-employee>
  }
</div>