.warning {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ffcc00;
  color: black;
}

.label {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ff6600;
  color: white;
}