<div class="flexlayout row topleft view" [style]="style()">
  <div class="flexlayout column topleft editor" >
    <h2>Site Editor</h2>
    <div class="flexlayout row topleft flexgap" style="width: 100%;">
      @if (siteid().toLowerCase() === 'new') {
        <mat-form-field floatLabel="always" style="width: 250px;">
          <mat-label>New Site Identifier</mat-label>
          <input matInput [formField]="siteForm.id">
          @if (siteForm.id().invalid()) {
            <mat-error>*required</mat-error>
          }
        </mat-form-field>
      }
      <mat-form-field floatLabel="always" style="width: 250px;">
        <mat-label>Site Name/Title</mat-label>
        <input matInput [formField]="siteForm.name" (change)="onUpdate('name')">
        @if (siteForm.name().invalid()) {
          <mat-error>*required</mat-error>
        }
      </mat-form-field>
      <mat-form-field floatLabel="always" style="width: 250px;">
        <mat-label>Site's UTC Offset</mat-label>
        <input matInput type="number" [formField]="siteForm.offset"
          (change)="onUpdate('offset')">
        @if (siteForm.offset().invalid()) {
          <mat-error>*{{siteForm.offset().errors()[0].message}}
          </mat-error>
        }
      </mat-form-field>
      @if (siteid().toLowerCase() === 'new') {
        <button matButton="filled" class="add-button" (click)="onAdd()">
          Add</button>
      }
      @if (siteid().toLowerCase() !== 'new' && showDelete()) {
        <div class="flex-spacer">
        </div>
        <mat-icon matTooltip="Delete this site" (click)="onDelete()">
          delete</mat-icon>
      }
    </div>
    <mat-toolbar class="flexlayout row topleft toolbar" style="width: 100%;">
      <button matButton (click)="choose('workcenters')">Workcenters</button>
      <button matButton (click)="choose('forecasts')">Forecasts</button>
      <button matButton (click)="choose('cofs')">Certificates of Service</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>