.formrow {
  margin: 10px 0 0 0;
  padding: 0;
  min-height: 20px;
  width: 100%;
}

.formlabel {
  width: 199px;
  height: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.forminput {
  width: 300px;
}

.subperiod {
  width: 398px;
  border: solid 1px white;
}